@import "tailwindcss";

@media (min-width: 1025){
    .home-container{
        @apply min-h-[84vh] flex flex-wrap justify-between py-10;
    }
    .prevPosts{
        @apply h-[76vh] basis-1/2 border-5 border-double mx-5 pl-10 overflow-y-scroll bg-fuchsia-500/45 inset-20 inset-shadow-xs inset-shadow-black;
    }
    .prevPosts h1{
        @apply text-4xl text-center mt-20;
    }

    .user-panel{
        @apply basis-1/3 lg:ml-25 flex flex-col gap-10;
    }

    .nametag{
        @apply h-[35vh] place-items-center bg-white border-10 border-double rounded-3xl p-25;
    }
    .nametag h1{
        @apply text-5xl underline mb-15;
    }
    .nametag h2{
        @apply text-3xl my-10;
    }
}

@media (min-width: 768) and (max-width: 1024px){
    .home-container{
        @apply h-screen w-screen flex flex-col gap-10 p-15;
    }
    .prevPosts{
        @apply border-5 border-double px-10 overflow-y-scroll bg-fuchsia-500/45 inset-20 inset-shadow-xs inset-shadow-black;
    }
    .prevPosts h1{
        @apply text-4xl text-center mt-5;
    }

    .user-panel{
        @apply flex flex-col gap-5;
    }
    .nametag {
        @apply flex flex-wrap gap-5 justify-center place-items-center bg-white rounded-full;
    }
    .nametag h1{
        @apply text-4xl underline;
    }
    .nametag h2{
        @apply text-2xl italic my-15;
    }
}

@media screen and (max-width: 767px){
    .home-container{
        @apply h-screen w-screen flex flex-col gap-10 p-5;
    }
    .prevPosts{
        @apply border-5 border-double px-5 overflow-y-scroll bg-fuchsia-500/45 inset-20 inset-shadow-xs inset-shadow-black;
    }
    .prevPosts h1{
        @apply text-4xl text-center mt-5;
    }

    .user-panel{
        @apply flex flex-col gap-5;
    }
    .nametag {
        @apply flex flex-col place-items-center bg-white rounded-full;
    }
    .nametag h1{
        @apply text-4xl underline;
    }
    .nametag h2{
        @apply text-2xl italic;
    }
}