@import "tailwindcss";



@media (min-width: 1025){
    .main-page{
        @apply h-[90vh] flex flex-col;
    }

    .main-page h1{
        @apply text-center text-7xl text-white;
    }

    .main-page h2{
        @apply text-6xl text-center place-self-center;
    }

    .option-box{
        @apply grow m-25 p-30 flex flex-wrap border-10 border-double rounded-3xl  bg-linear-to-br from-purple-600/30 to-fuchsia-600/15;
    }

    .option{
        @apply grow place-content-center w-full grid grid-cols-2 gap-5;
    }

    .primary-button{
        @apply h-55 text-center place-content-center text-5xl bg-purple-400 hover:bg-purple-600 active:bg-purple-800 rounded-4xl border-20 border-double;
    }

    .secondary-button{
        @apply h-55 text-center place-content-center text-5xl bg-fuchsia-400 hover:bg-fuchsia-600 active:bg-fuchsia-800 rounded-4xl border-20 border-double;
    }
}

@media (min-width: 768) and (max-width: 1024){
    .main-page{
        @apply h-[90vh] flex flex-col gap-25;
    }

    .main-page h1{
        @apply text-center text-5xl text-white;
    }

    .main-page h2{
        @apply text-4xl text-center place-self-center;
    }

    .option-box{
        @apply m-25 p-5 flex flex-wrap border-10 border-double rounded-3xl bg-linear-to-br from-purple-600/30 to-fuchsia-600/15;
    }

    .option{
        @apply place-content-center w-full grid grid-cols-2 gap-15 my-5;
    }

    .primary-button{
        @apply h-35 w-55 text-center place-content-center text-2xl bg-purple-400 hover:bg-purple-600 active:bg-purple-800 rounded-4xl border-20 border-double;
    }

    .secondary-button{
        @apply h-35 w-55 text-center place-content-center text-2xl bg-fuchsia-400 hover:bg-fuchsia-600 active:bg-fuchsia-800 rounded-4xl border-20 border-double;
    }
}

@media (max-width: 767px){
        .main-page{
        @apply h-screen flex flex-col gap-25;
    }

    .main-page h1{
        @apply text-center text-5xl mt-15 text-white;
    }

    .main-page h2{
        @apply text-2xl text-center place-self-center;
    }

    .option-box{
        @apply m-5 p-5 flex flex-wrap border-10 border-double rounded-3xl bg-linear-to-br from-purple-600/30 to-fuchsia-600/15;
    }

    .option{
        @apply place-content-center w-full grid grid-cols-2 gap-15 my-5;
    }

    .primary-button{
        @apply h-35 w-25 text-center place-content-center text-2xl bg-purple-400 hover:bg-purple-600 active:bg-purple-800 rounded-4xl border-20 border-double;
    }

    .secondary-button{
        @apply h-35 w-25 text-center place-content-center text-2xl bg-fuchsia-400 hover:bg-fuchsia-600 active:bg-fuchsia-800 rounded-4xl border-20 border-double;
    }
}