@import "tailwindcss";

@media (min-width: 1025){
    .posts-page{
        @apply h-[84vh] flex flex-wrap p-5 overflow-clip;
    }
    .posts-array{
        @apply basis-4/5 max-h-[82vh] overflow-y-scroll;
    }
    .filterbox{
        @apply h-[64vh] mx-5 border-5 border-double flex flex-col gap-15 items-center p-5;
    }
}

@media (max-width: 1024px){
    .posts-page{
        @apply h-screen flex flex-col p-5;
    }
    .posts-array{
        @apply overflow-y-scroll;
    }
    .filterbox{
        @apply h-[10vh] mx-5 border-5 border-double flex flex-col gap-15 items-center p-5;
    }
}